<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Encryption App</title>
    <%include partials/refrences.ejs%>
  </head>
  <body>
    <%include partials/navBar.ejs%>
    <script type="text/javascript">
    var d = document.getElementById("contact");
    d.className += "active";
    </script>

    <h2 class="text-center">Datos para comunicarse</h2>

    <div class="row" style="padding-top: 30px">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <p class="lead">Ante cualquier consulta, se puede comunicar a
          <a href="mailto:agustin.bettati@ing.austral.edu.ar">agustin.bettati@ing.austral.edu.ar</a></p>
      </div>
      <div class="col-xs-2"></div>
    </div>

  </body>
</html>
